<div class="formulario">
    <h2>Introduce las Tareas</h2>
    <div class="form-group">
        <label for="formGroupExampleInput">Titulo</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Titulo de la tarea"
            [(ngModel)]="tarea.titulo">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Tarea</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Introduce la tarea"
            [(ngModel)]="tarea.texto">
    </div>
    <button type="submit" class="btn btn-primary" (click)="manejarClick()">Guardar Tarea</button>
</div>